.bro{
            color: cyan;
            font-size: 18px;
        }
        #dj{
            color: blue;
            font-size: 15px;
        }
         
        #p{
            color: darkgoldenrod;
            background-color: aqua;

        }

        body{
            background-color: black;
        }